.container {
    min-height: 80vh;
  margin: 0%;
  padding: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.container > * {
    align-content: center;
    justify-content: center;
}

.container > h1 {
    font-size: 3rem;
    color: #ab3f3d;
}

.container > p {
    font-size: 1.5rem;
}