.container {
  min-height: 150vh;
  margin: 0%;
  padding: 0%;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr) .7fr 1.5fr;
  grid-template-areas: "lg lg lg lg intro intro intro intro"
                       "lg lg lg lg extra extra extra extra"
                       "abt abt abt-con abt-con abt-con abt-con abt-con abt-con"
                       "info-con info-con info-con illust1 illust1 info info info"
                       "skills skills skills skills skills skills skills skills "
                       "sk1 sk1 sk1 sk2 sk2 sk2 illust2 illust2";
}

.container > * {
  background-color: #a5a58d;
  /* border-style: solid;
  border-width: 2px; */

  /*center items, use flexbox*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo { grid-area: lg;}
.intro_main { grid-area: intro;}
.intro_extra { grid-area: extra;}
.about { grid-area: abt;}
.about_content { grid-area: abt-con;}
.info_content { grid-area: info-con;}
.illust_1 { grid-area: illust1;}
.info { grid-area: info;}
.skills { grid-area: skills;}
.skills_1 { grid-area: sk1;}
.skills_2 { grid-area: sk2;}
.illust_2 { grid-area: illust2;}


.footer {
  width: 100%;
  height: 100px;
  border-top: 3px solid #ffffff;
  background-color:#a5a58d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* .title a {
  color: #0070f3;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}
 */
