

.container {
  min-height: 100vh;
  margin: 0%;
  padding: 1em;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}


 .container > * > h2 {
  border-bottom: solid;
  border-width: 1px;
  border-color: black;
  font-size: 2em;
}

.container > * > h3 {
  font-size: 3em;
  word-wrap: break-word; 
}

.container > * > h3 > span:hover {
  color: white;
}
